#edit-comments-bulk-scheduler div {
    float: left;
}

.form-item-comments-bulk-admin-scheduler-days {
    clear: both;
}

#comments-bulk-settings .form-type-textfield {
    margin-right: 1em;
}